.inputoutput {
    height: 500px;
    width: 50%;
    float: left;
    border: 1px solid rgb(0, 0, 0);
}

.inputoutput-cap {
    height: 500px;
    width: 49%;
    border: 1px solid rgb(0, 0, 0);
    float: right
}

.caption {
    height: 5%;
    position: sticky;
    top: 0px;
}

.template_parent{
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
}

.template_block{
    height: 5%;
    width: 5%;
    float : left;
    border: 1px solid rgb(255, 255, 255);
}

.size {
    height: 95%;
    width: 99%;
    overflow-y: auto;
    overflow-x: auto;
    position: sticky;
    top: 10px;
    border: 1px solid rgb(51, 219, 0);
}


.coords{
    margin: 1px solid rgb(250, 250, 250); 
    height: 20px;
}

.download{
    position: top;
}

.loading{
    width: 100%;
    padding : 10px;
}

.output_area{
    margin: 1px solid rgb(189, 189, 189); 
    height: 240px; 
    width: 90%;
}

.style_template {
    max-width:2%;
    max-height:2%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
}

.style_template_canvas {
    max-width:2%;
    max-height:2%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    border: 10px solid rgb(255, 255, 255);
}

.loader {
    float: right;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid #eb4807;
    width: 40px;
    height: 40px;
    display: none;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}